@import url('./themes.css');
/* 

    @media screen and (min-width: 576px) {

    }

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 992px) {
        
    }

    @media screen and (min-width: 1200px) {
        
    }

    @media screen and (min-width: 1400px) {
        
    }

*/

body,
html,
menu,
input[type=text],
input[type=email],
textarea,
a, p,
h1, h2, h3, h4,
ul, li,
button {
    all: unset;
}

html {
    height: 100dvh;
}

html, body {
    width: 100vw;
    min-height: 100%;
    font-family: monospace;
}

body {

    --font-size-default: 0.8rem;
    --font-size-multiplier: 1;
    --font-size-visible: calc(var(--font-size-default) * var(--font-size-multiplier));

    @media screen and (min-width: 576px) {
        --font-size-default: 1.1rem;
    }

    @media screen and (min-width: 768px) {
        --font-size-default: 1.3rem;
    }

    /* TODO: delete */
    @media screen and (min-width: 992px) {
        
    }

    @media screen and (min-width: 1200px) {
        
    }

    @media screen and (min-width: 1400px) {
        --font-size-default: max(1.8rem, 0.8vw);
    }
}

body {
    background-color: var(--bg-medium);
    color: var(--font-medium)
}

* {
    transition: all 0.1s !important;
}

a,
p,
button {
    font-size: var(--font-size-visible);
    font-weight: bold;
}

a,
button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button {
    user-select: none;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: calc(var(--font-size-visible) * 3);
}

h2 {
    font-size: calc(var(--font-size-visible) * 2.5);
}

h3 {
    font-size: calc(var(--font-size-visible) * 2);
}

h4 {
    font-size: calc(var(--font-size-visible) * 1.5);
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    padding: 10px;

    @media screen and (min-width: 992px) {
        padding: 20px;
    }
}