.default {
    --bg-light: hsl(204, 100%, 90%);
    --bg-medium: hsl(207, 100%, 82%);
    --bg-dark: hsl(203, 75%, 70%);

    --font-light: hsl(0, 0%, 30%);
    --font-medium: hsl(0, 0%, 20%);
    --font-dark: hsl(0, 0%, 10%);
}

.dark {
    --bg-light: hsl(213, 30%, 32%);
    --bg-medium: hsl(225, 40%, 18%);
    --bg-dark: hsl(225, 59%, 11%);

    --font-light: hsl(0, 0%, 90%);
    --font-medium: hsl(0, 0%, 80%);
    --font-dark: hsl(0, 0%, 70%);
}

.green {
    --bg-light: hsl(78, 100%, 80%);
    --bg-medium: hsl(98, 50%, 65%);
    --bg-dark: hsl(132, 50%, 40%);

    --font-light: hsl(0, 0%, 30%);
    --font-medium: hsl(0, 0%, 20%);
    --font-dark: hsl(0, 0%, 10%);
}

.green-dark {
    --bg-light: hsl(78, 40%, 32%);
    --bg-medium: hsl(98, 32%, 18%);
    --bg-dark: hsl(132, 70%, 11%);

    --font-light: hsl(0, 0%, 100%);
    --font-medium: hsl(0, 0%, 90%);
    --font-dark: hsl(0, 0%, 80%);
}
